html {
    font-size: 37.5px !important;
    overflow-x: hidden;
    color: #000;
    background-color: #fff !important;
    overflow-y: scroll;
}

body {
    padding-top: 1.17333333rem !important;

    #home {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

        main {
            overflow-y: scroll;
            flex: 1;
        }
    }

}